<% layout("/layouts/boilerplate") %>

<body class="bg-light">

  <!-- Page Heading -->
  <div class="container my-5">
    <h3 class="text-center text-primary mb-4">All Listings</h3>

    <!-- Summary Stats -->
    <div class="d-flex justify-content-center mb-2">
      <div class="text-center">
        Total listings: <%= typeof totalCount !== 'undefined' ? totalCount : allListings.length %>
        Countries: <%= typeof distinctCountriesCount !== 'undefined' ? distinctCountriesCount : 0 %>
        <a href="/listings/countries-count" >View Country Details</a>
      </div>
    </div>

    <!-- Sorting Controls -->
    <div class="d-flex justify-content-center mb-3">
      <a href="/listings?sort=country&order=asc">Sort by Country ↑</a>
      <a href="/listings?sort=country&order=desc">Sort by Country ↓</a>
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% for(let listing of allListings) { %>
        <div class="col">
          <div class="card shadow-sm">
            <img src="<%= listing.image %>" class="card-img-top" alt="<%= listing.title %>" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center"><%= listing.title %></h5>
              <h5 class="card-title text-center"><%= listing.country %></h5>
              <p class="card-text text-center">
                <strong>&#8377; <%= listing.price%> /Night</strong>
              </p>
              <p class="card-text text-muted">
                <em><%= listing.location %></em>
              </p>
              <a href="/listings/<%= listing._id %>" class="btn btn-primary w-100">View Details</a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

</body>
